.panel-body1{padding:0px}
.container1 {

    width: 100%;
    position: relative;
    display: grid;

    }




.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

  margin-right: 89px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.3;


}

.container1:hover .middle {
  opacity: 1;
}

.text {
  
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Sofia'
}



.column {
  float: left;
  width: 33.3333%;
  padding: 5px;
  column-gap: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



 .caption {
    font-size: 20px;
    font-family: 'Mistral Regular'
    color: white;
    text-align: center;
    width: 230px;

    margin-left: auto;
    margin-right: auto;
}




#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients  cornsilk*/
/*  background-image: linear-gradient(to right,palegreen , chocolate); /* Standard syntax (must be last) */
/*background-image: linear-gradient(to right , black,white);*/
font-style: 'Pacifico';
font-size: 22px;
}
body {
    font-family: 'Sofia';font-size: 22px;

}



#itemCount {
  position: absolute;
  display: none;
  top:-50px;
  left: 130px;
  right: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}





.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.container {


}


/*About us*/
#about {
    background: #fff;
    padding: 0px;
  }

  #about .about-img {
    overflow: hidden;
  }

  #about .about-img img {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }

  #about .about-content {
    background: #fff;
  }

  #about .about-title {
    color: #008CBA;
    font-weight: 700;
    font-size: 28px;
  }

  #about .text {
    color: #008CBA;
    line-height: 20px;
    margin-bottom: 15px;
  }

  #about .text:last-child {
    margin-bottom: 0;
  }


  body1 {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    
    padding: 0px;
  }




/*add to cart function*/
