 .glyphicon.glyphicon-shopping-cart {
      font-size: 17px;
  }
  @media  (min-width: 1080px) {
  navbar-toggle{

    display:block;
  }
}
@media  (max-width: 1080px) {
navbar-toggle{

  display:none;

}
.collapse navbar-collapse{
  display:none;
}
}