/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #03C4EB;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0px;
  }

   /*--------------------------------------------------------------
  # Navigation Bar
  --------------------------------------------------------------*/
  @media screen and (max-width:480px)
  {
    .nav1
    {
        display: none;
    }
    .snav
    {
        display: block;
    }
  }

  @media screen and (min-width:480px)
  {
    .snav
    {
        display: none;
    }
  }
    
  /*--------------------------------------------------------------
  # Welcome
  --------------------------------------------------------------*/
  #home {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(/images/bg4.jfif) top center;
    background-size: cover;
  }
  
  @media (min-width: 1024px) {
    #home {
      background-attachment: fixed;
    }
  }
  
  #home .home-logo {
    margin: 20px;
  }
  
  #home .home-logo img {
    max-width: 100%;
  }
  
  #home .home-container {
    background: rgba(0, 0, 0, 0.7);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  
  #home h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #home h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  @media (max-width: 480px) {
    #home h1 {
      display: none;
    }
  }
  
  #home h2 {
    color: #999;
    margin-bottom: 50px;
  }
  
  @media (max-width: 768px) {
    #home h2 {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
    }
   } 
  
  
  #home .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
  }

  
  @media screen and (max-width:480px)
  {
    #home div.actions
    {
      display: none;
    }
  }
  
  #home .btn-get-started {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff;
  }
  
  #home .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }

  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
   
   
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /* Sections Common
  --------------------------------*/
  .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }

  @media screen and (max-width:480px)
  {
    .section-title 
    {
      font-size: 25px;

    }

  }
  
  .section-description {
    text-align: center;
    margin-bottom: 0px;
  }

   @media screen and (max-width:480px)
  {
     div .section-description
    {
      display: none;
    }
  } 
  @media screen and (min-width:480px)
  {
     div .section-description1
    {
      display: none;
    }
  }
 


  
  .section-title-divider {
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  
  
  /*Discount Section
  ---------------------------------*/

   {
    box-sizing: border-box;
  }
  
  .row-sale {
    display: flex;
  }
  
  
  .column-sale {
    flex: 15%;
    padding: 5px;
  }
  @media screen and (min-width:480px)
  {
   div.slideshow
    {
      display:none;
    }
  }

  @media screen and (max-width:480px)
  {
   div.slideshow
    {
      display:block;
    }
    div.row-sale
    {
      display: none;
    }

  }
  
  /* Category Section
  --------------------------------*/
  #category {
    background: #fff;
    padding: 0px 0;
  }
  
  #category .category-item {
  
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
  #category .category-item .details {
    height: 260px;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
  }
  
  #category .category-item .details h4 {
    font-size: 16px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #333333;
  }
  
  #category .category-item .details span {
    display: block;
    color: #666666;
    font-size: 13px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 15px, 0);
  }
  
  #category .category-item:hover .details {
    opacity: 0.8;
  }
  
  #category .category-item:hover .details h4 {
    transform: translate3d(0, 0, 0);
  }
  
  #category .category-item:hover .details span {
    transform: translate3d(0, 0, 0);
  }

  @media screen and (max-width:480px)
  {
    #category .category-item .details 
    {
      display: none;
    }

    #category .category-item .details-1  {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }

  @media screen and (min-width:480px)
  {
    #category .category-item .details-1  
    {
      display: none;
    }

  }


  /* Hide Button(View Category)
  ---------------------------------*/
    @media screen and (max-width: 480px) 
    {
      #show1
       {
          display:block;
       }
      #hidecol1
        {
          display:none;
        } 
    }

    @media screen and (min-width: 480px) 
    {
      #show1
      {
         display:none;
      }
      #hidecol1
        {
          display:block;
        } 
    }


  /* About Section
  --------------------------------*/
  #about {
    background: #fff;
    padding: 80px 0;
  }
  
  #about .about-img {
    overflow: hidden;
  }
  
  #about .about-img img {
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  #about .about-content {
    background: #fff;
  }
  
  #about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  @media screen and (max-width:480px)
  {
    #about .about-title {
    font-size: 20px; 
    }
  }
  
  #about .about-text {
    line-height: 26px;
    margin-bottom: 15px;
  }

  @media screen and (max-width:480px)
  {
   #about div .section-description
   {
     display:none;
   }
  }
  
  #about .about-text:last-child {
    margin-bottom: 0;
  }
  
  
  /* Contact Section
  --------------------------------*/
 /*  #contact {
    background: #f7f7f7;
    padding: 80px 0;
  }
  
  #contact .info {
    color: #333333;
  }

  @media screen and (max-width:480px)
  {
    #contact .info 
    {
      display: none;
    }
  }
  
  #contact .info i {
    font-size: 32px;
    color: #03C4EB;
    float: left;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
  }
  
  #contact .form #sendmessage {
    color: #03C4EB;
    border: 1px solid #03C4EB;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
  }
  
  #contact .form button[type="submit"] {
    background: #03C4EB;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .form button[type="submit"]:hover {
    background: #25d8fc;
  }

   */
  
  /*==============================================
   Diving the Categories Column and Row 
   ===============================================*/
  
  * {
    box-sizing: border-box;
  }
  
  .column {
  float: left;
  width: 33.33%;
  padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  
  /*======================================
  Empty Cart 
  =========================================*/
  
  .item {
  width: 31%;
  float: left;
  margin: 1%;
  }
  
  #itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
  }
  
  i:hover {
  cursor: pointer;
  }
  
  main {
  padding: 100px 0;
  width: 600px;
  margin: 0 auto;
  }
  
  header {
  height: 100px;
  margin-bottom: 50px;
  }
  
  #cart-container {
  float: right;
  width: 210px;
  position: relative;
  }
  /*==============================================================
   End of Empty Cart
   =============================================================== */
  
  
   
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #111;
    padding: 15px 0;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }
  /* -------------------------------------------------------------
  End of #Footer
  -------------------------------------------------------------- */
  