
  .panel-body1{padding:0px}
  .container1 {

    width: 100%;
    position: relative;
    display: grid;

    }

.img{

width:100%;
height:200px;

}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

  margin-right: 89px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



 .caption {
    font-size: 20px;
    font-family: 'Mistral Regular'
    color: white;
    text-align: center;
    width: 230px;

    margin-left: auto;
    margin-right: auto;
}
  .col-md-4,img{
  
  width:100%;
  }
  #showw{
  display:none;
  }
  #hidecol1{
  
  display:block;
  }
  
    .w3-sidebar a {
      font-family: "Roboto", sans-serif
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .w3-wide {
      font-family: "Montserrat", sans-serif;
    }


    .glyphicon.glyphicon-shopping-cart {
      font-size: 20px;
    }

    .w3-sidebar {
      
      height: 80%;
    }

    .inner {
      margin-left: 0;

    }

    .fa {
      height: 10px;
      width: 10px;

    }

    .column {
      width: 33.33%;
    }

   
	 .example1{
	 display:none;
	 }
	

    h1:hover {
      animation-play-state: running;
    }

      .example{
          
          padding-left: 15px;
          padding-right: -10px;
      }
    @media only screen and (max-width:760px) {
	  #showw{
  display:block;
  }
	
	  #hidecol1{
  
  display:none;
  }
	
  div.example {
  display:none;
             
  }
  div.example1{
  
  display:block;
  padding-left: 15px;
          padding-right: 15px;
  }
        div.mob{
      padding-right: 30px;
            
             
            padding-left: 30px;  
        }
     
  .middle {
  display: none;
}


div.banner
{
  display:block;
  width:100%;
  height:200px;
  padding-right: 20px;

}


img{

  width:100%;
  height:200px;
}
<!-- .smallcor1{
width:460px;
height:490px;
} -->
}



  @media only screen and (max-width:460px) {
	  #showw{
  display:block;
  }
	
	  #hidecol1{
  
  display:none;
  }
	
  div.example {
  display:none;
             
  }
  div.example1{
  
  display:block;
  padding-left: 15px;
          padding-right: 15px;
  }
        div.mob{
      padding-right: 30px;
            
             
            padding-left: 30px;  
        }
     
  .middle {
  display: none;
}

div.container1:hover .image {
  opacity: 1;


}



.banner{
 padding-left: 38px;
          padding-right: 15px;
		  margin-right:36px;
		  margin-left:6px;

}

.smallcor,img,{
width:460px;

}

}



@media only screen and (max-width: 760px) {


div.container1:hover{
  opacity:1;
  
  }

  div.banner
        {display: none;}

}

.banner
        {display: none;}

@media only screen and (max-width: 990px) {
div.ismal{

display:none;
}

div.banner
        {display: none;}

p.aboutUsSmall{
text-align:center;

}
div.contact{
display:none;
}
div.about{
display:none;
}

  #showw{
  display:block;
  }
  #hidecol1{
  
  display:none;
  }
	

div.banner2 {
  display:block;
  width:auto;
  height: auto;
  padding-left: 38px;
  margin-right:36px;




}
img{

  width:100%;
  height:200px;
}

div.container1:hover{
  opacity:1;
  
  }

}
.example{
width:960px;
padding-left:36px;

}
.responsive {
  width: 100%;

}
.example1{
margin-right:36px;
}



  .w3-sidebar a {
    font-family: "Roboto", sans-serif
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .w3-wide {
    font-family: "Montserrat", sans-serif;
  }
