.color-tag{position:absolute;right:0;bottom:0}
.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}

.w1-brown{color:#fff!important;background-color:rgb(165, 42, 42)!important}

.w1-tan{color:#fff!important;background-color:tan!important}

.w1-grayscale{filter:grayscale(0%)}

.w1-bgcolor{background-color:rgb(255, 255, 255)}

.w1-padding-16{padding-top:5px!important;padding-bottom:0px!important}

.w1-display-topright{position:absolute ;right:150px;top:4px}

.w1-display-topright-sort{position:absolute ;right:150px;top:40px}

.w1-display-topright-cart{position:absolute ;right:380px; margin-top:2px }

.w3-button:hover{color:#000;}

.emptybutton{  background-color: red;
    position:absolute;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  right: 265px;
  top:10px
}

#dotButton
{
  padding: 1px 1px;
}

.w1-padding
{
  flex: 15%;
  padding-right: 40px;
}


#itemCount {
  position: fixed;
  display: none;
  top: 10px;
 margin-right: 20%;
  width: 20px;
  height: 25px;
  border-radius: 150%;
  background: red;
  color: white;
  text-align: center;
 font-size: 15px;
}

.footer {
   position: relative;
   
   background-color:black;
   color: white;
   text-align: center;
   margin-left: -360px;
   margin-right: -360px;
   height: 100px;
   
}
.nav-items{
  padding-top: 10px;
}
.search-icon{
  padding-top: 10px;
}

.sortby{
  display: none;
}
#footer-content{
  padding: 10px ;
  text-align: center;
  
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.panel{
  width: 220px;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgb(173, 39, 39);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.sidenav{
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    
  }
  
}







* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
div.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  /* padding: 0px 4px; */
  padding-left: 0px;
  padding-right: 10px;
}



.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 1200px) {
  div.column {
   -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
     padding-left: 50px;
    padding-right: 50px;
  }
   div.nav{
    display: none;
  } 
  .sortby{
  display: block;
  margin-left: 80%;
}
.about{
    display: none;
  }
  .contact{
    display: none;
  }
   p.aboutUsSmall{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 15px;
  }
} 

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  div.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .img{
     max-width: 140px;
   max-height: 90px;
  }

  p,p.head{
    font-size: 80%;
  }
  
  .add {width: 150px;}

  .panel{
    width: 130px;
  }

  
   div.nav{
    display: none;
  } 
  .footer {
   position: relative;
   /* left: -500px;
   height: 100px;
  
   width: 200%; */
   background-color:black;
   color: white;
   text-align: center;
   font-size: 15px;
   margin-left: 0px;
   margin-right: 0px;
  
   height: 75px;
  }

  #footer-content{
  padding: 0px; ;
  text-align: center;
  }

  .sidenav{
    display: block;
  }

  .about{
    display: none;
  }
  .contact{
    display: none;
  }

  p.aboutUsSmall{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 15px;
  }
.sortby{
  display: block;
  margin-left: 60%;
}

 

}


@media only screen and (max-width: 990px) {
p.aboutUsSmall{
text-align:center;

}}











